@font-face {
  font-family: "Monego";
  src: url("/Monego/Monego.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monego";
  src: url("/Monego/Monego-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Monego";
  src: url("/Monego/Monego-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
