body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

code {
  padding: 2px 4px;
  font-size: 90%;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
}

pre,
code {
  font-family: "Monego", monospace;
  font-size: 12px;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monospace {
  font-family: "Monego", monospace;
}

footer {
  margin: 1rem 0;
}

.logo {
  border: none;
  text-align: center;
  overflow: hidden;
}

.navigation-list li + li:before {
  display: inline-block;
  vertical-align: baseline;
  content: "∕";
  margin: 0 0.25rem;
  font-weight: bold;
}

blockquote {
  font-family: sans-serif;
  background: #ffeccf;
  border-left: 10px solid #f2c47e;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #f2c47e;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.button-reset {
  outline: none;
  border: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: transparent;
  color: currentColor;
}

[data-title] {
  cursor: help;
  position: relative;
  text-decoration: underline;
}

[data-title]:hover:before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 25%;
  transform: translateY(-100%);
  display: block;
  border-color: #222 transparent;
  border-style: solid;
  border-width: 8px 8px 0px 8px;
  height: 0px;
  width: 0px;
}

[data-title]:hover:after {
  font-weight: 300;
  content: attr(data-title);
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  top: 0rem;
  transform: translateY(-120%);
  left: 0%;
  z-index: 1;
  padding: 7px;
  border-radius: 4px;
}

[data-title]:after {
  color: #fcfcfc;
  background-color: #222;
}

.hide-child-alt .child-alt {
  opacity: 0;
  transition: all .15s ease-in;
  z-index: -1;
}

.hide-child-alt:active .child-alt {
  opacity: 1;
  transition: all .15s ease-in;
  z-index: 1;
}
