body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  padding: 2px 4px;
  font-size: 90%;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
}

pre,
code {
  font-family: 'Monego', monospace;
  font-size: 12px;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin: 1rem 0;
}

.logo {
  border: none;
  text-align: center;
  overflow: hidden;
}

.navigation-list li + li:before {
  content: " / ";
  margin: 0 0.5rem;
}

blockquote {
  font-family: sans-serif;
  background: #FFECCF;
  border-left: 10px solid #F2C47E;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #F2C47E;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
